.vscode
.github
.pi-subagents/
.pi/
AGENTS.md
test/
media-src
patches
vendor
/00-styles/**
00-docs/**
00-refs/**
00-refs-code/**
.obsidian/**
demo.gif
image.png
pnpm-lock.yaml
pnpm-workspace.yaml
nul
NUL
node_modules
src
scripts
.gitignore
tsconfig.json
webpack.config.js
esbuild.js
yarn.lock
yarn-error.log
**/*.map
